.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-icons a {
    display: block;
}

.social-icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .social-icons img {
        width: 30px;
        height: 30px;
    }

    .social-icons button {
        padding: 5px 10px;
        font-size: 10px;
        margin: 5px;
    }
}

.social-icons button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    margin: 15px;
}

.social-icons button:hover {
    background-color: #45a049;
}

@font-face {
    font-family: "CustomFiraSans";
    src: url("../font/FiraSans-Regular.ttf") format("truetype");
}

.scheduler-section {
    font-family: "CustomFiraSans", sans-serif;
}
